<?xml version='1.0' encoding='utf-8'?>
<widget id="app.codeserver" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CodeServerApp</name>
    <description>
        
    </description>
    <author email="zhaoyunzhou@zhuanzhuan.com" href="https://github.com/cdr/code-server">
       zhaoyunzhou
    </author>
    <content src="http://192.168.124.17:9999/" />
    <access origin="*" />
    <access origin="http://*/*" />  
    <access origin="https://*/*" />  
    <!-- <allow-intent href="http://*/*" /> -->
    <!-- <allow-intent href="https://*/*" /> -->
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />  
    <allow-navigation href="https://*/*" />  
    <allow-navigation href="data:*" />  

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVURLProtocolCustom">
                <param name="ios-package" value="CDVURLProtocolCustom" />
            </feature>
        </config-file>
        <preference name="WebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>